<app-cooptations-header></app-cooptations-header>
<div class="content-body"> 
    <div class="container-fluid">
        <div class="cooptationsBar"><h4>TOUTES LES COOPTATIONS</h4></div>
<ngx-alerts></ngx-alerts>
<div class="div-coop"><div class="btn-coop">
	

	<div class="dropdown ml-auto dropdown-no-icon" ngbDropdown  style="display:flex; flex-direction: row">
		<button class="btn btn-primary btn sharp mr-1 " [routerLink]="['/cooptation']" style="background-color:rgb(99, 196, 39); border-color: rgb(99, 196, 39)"><i class="fa fa-plus" aria-hidden="true" style="color:white ;"></i></button>
<a class="btn-link btn btn-primary btn sharp "
	style=" padding : 0.2px ; padding-top: 0.2px ; background-color:white; border-color: white" data-toggle="dropdown"
	ngbDropdownToggle>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="40px"
		viewBox="0 0 24 24" version="1.1">
		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<rect x="0" y="0" width="24" height="24"></rect>
			<circle fill="#000000" cx="12" cy="5" r="2"></circle>
			<circle fill="#000000" cx="12" cy="12" r="2"></circle>
			<circle fill="#000000" cx="12" cy="19" r="2"></circle>
		</g>
	</svg>
</a>
		<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
			<a class="dropdown-item text-black" href="javascript:void(0);" (click)="generateExcelAdmin()">
				Exporter
			</a>
		</div>
	</div>
			</div></div>
			<div class="mat-elevation-z12 table-responsive admin-table " [formGroup]="filterForm" >
				<table mat-table [dataSource]="dataSourceFilters" matSort style="margin:auto ">
				
					<!-- nom colum-->
					<ng-container matColumnDef="nom">
						<th mat-header-cell *matHeaderCellDef style=" width: 320px">
							<mat-form-field>
								<mat-label>Nom</mat-label>
								<input matInput (keyup)="applyCoopFilter('lastname')" placeholder="" #input
									formControlName="lastname">
							</mat-form-field>
						</th>
						<td mat-cell *matCellDef="let item" style=" width: 320px"> {{item.cooptation.lastname}} </td>
					</ng-container>
  
	  <!-- Prenom Column -->
	  <ng-container matColumnDef="prenom">
		<th mat-header-cell *matHeaderCellDef style=" width: 320px">
			<mat-form-field>
				<mat-label>Prénom</mat-label>
				<input matInput (keyup)="applyCoopFilter('firstname')" placeholder="" #input
					formControlName="firstname">
			</mat-form-field>
		</th>
		<td mat-cell *matCellDef="let item" style=" width: 320px"> {{item.cooptation.firstname}}</td>
	</ng-container>
  
	  <!-- date Column -->
	  <ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef style=" width: 340px">
			<mat-form-field>
				<mat-label>Date</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="date"
					(dateInput)="applyCoopFilter('date')">

				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</th>
		<td mat-cell *matCellDef="let item" style=" width: 340px"> {{item.cooptation.date | date:'dd/MM/yyyy'}} </td>
	</ng-container>
  
	  <!-- statutColumn -->
	  <ng-container matColumnDef="statut">
		<th mat-header-cell *matHeaderCellDef style=" width: 400px">
			<mat-form-field appearance="fill" style=" width: 350px" *ngFor="let statutfilter of statutFilters">
				<mat-label>{{ statutfilter.name }}</mat-label>
				<mat-select formControlName="status" [value]="statutfilter.name"
					(selectionChange)="applyCoopFilter('status')">
					<mat-option *ngFor="let op of statutfilter.options" [value]="op">
						{{ op }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</th>

		<td mat-cell *matCellDef="let item" style=" width: 400px" > 
			<i class="bi bi-circle-fill" [ngStyle]="{'color':getTheColor(item.cooptation.status)}"></i>
			{{item.cooptation.status}} </td>
	  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action" >
	<th mat-header-cell *matHeaderCellDef style=" width: 250px" >
		<div class="action"  style="display:flex; flex-direction:row; justify-content:center ;align-items :center">Actions</div>
	</th>
	<td mat-cell *matCellDef="let item" style="display:flex; flex-direction:row; justify-content:center ;align-items :center ; width: 250px;">
		<div class="btn-coop-2">
			<div class="dropdown ml-auto dropdown-no-icon test" ngbDropdown style="display:flex; flex-direction: row" *ngIf="item.actions.length" placement="bottom-right" >	
				<a class="btn-link btn btn-primary btn-xs sharp mr-1 "  style="  background-color:white; border-color: white" data-toggle="dropdown" ngbDropdownToggle>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px"
					height="25px"  version="1.1" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 20 20">
						<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
					  </svg>
				</a>
				<div class="dropdown-menu dropdown-menu-right"  ngbDropdownMenu>
					<a class="dropdown-item text-black status" *ngFor="let status of item.actions" (click)="open('valider',item.cooptation.id,status.id,status.status)"
					style="font-size:0.9em;">
						{{status.status}}
					</a>
				</div>

			</div>


			<button type="button" class="btn btn-secondary btn-xs sharp mr-1" style="background-color: white; border-color: white ;"
			(click)="downloadCV(item.cv)">
				 <i class="bi bi-download"  style=" color: #006dbf; font-size:18px ;"></i>
			 </button>
			 <button type="button" class="btn btn-secondary btn-xs sharp mr-1" style="background-color: #4eafff; border-color: #4eafff ;"
			(click)="ViewCoop(item.cooptation.id)">
				<i class="bi bi-eye"   title="Consulter" style=" color: white; font-size:12px ;"></i>
			 </button>
			<div class="dropdown ml-auto dropdown-no-icon test" ngbDropdown style="display:flex; flex-direction: row  " >
			<button type="button" class="btn btn-secondary btn-xs sharp mr-1"  style="background-color: #006dbf; border-color: #006dbf ;" (click)="open('workflow',item.cooptation.id)">
				<i class="bi bi-clock-history" style=" color: white; font-size:12px ;" title="Afficher workflow"></i>
			</button>
		    </div>
		</div>

	</td>
 
</ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  <tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">Aucune cooptation trouvée</td>
	  </tr>
	</table>
  
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
<div>





